@import 'tailwindcss';

@theme {
    /* Definición de la Identidad Visual de NodeMesh */
    --color-void: #050505;
    --color-terminal: #39FF14;
    --color-slate: #1A1A1A;

    --font-mono: "Fira Code", "JetBrains Mono", monospace;

    /* Efectos tácticos para el Simulador */
    --shadow-neon: 0 0 15px var(--color-terminal);
}

/* Configuración global para el Look & Feel de Dev-Tool */
@layer base {
    body {
        @apply bg-void text-white font-mono antialiased;
    }
}